.coverage
.idea/
.code
dist
*.egg-info
build
.env
.ipynb_checkpoints/
__pycache__/

**/received_files/*
libs/om-aries-controller/demo/bob/image_received.png

.vscode/
# exception to the rule
!libs/om-aries-controller/demo/bob/received_files/.gitkeep

**/model.pt
**/trained_model.pt
**/untrained_model.pt
**/part_trained.pt
